<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
     <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Image file uploader </h1>
      <form class="well" center method="post" action="/upload"  enctype="multipart/form-data">


          <p>Please Upload the scanned copies of your credentials below </p>
          <div class="form-group">
            <label for="picture">File input</label>
            <input type="file" class="form-control-file" id="picture" aria-describedby="fileHelp" name="picture">
            <small id="fileHelp" class="form-text text-muted">The scanned copy should not exceed 50K</small>
          </div>
          
          <button type="submit" class="btn btn-primary" value="upload Image">Submit</button>
  </form>   

   <script   src="/javascripts/jquery-3.2.1.js"></script>
    <script   src="/javascripts/bootstrap.min.js"></script>

  </body>
</html>
